@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html
{
  font-size: 16px;
}

body
{
  height: 100vh;
  color: #636363;
}

img,div
{
  display: block;
}

h1,h2,h3,h4
{
  font-weight:bold;
}

.custom-container,
.custom-container2,
.custom-container3
{
  width: 120rem;
  max-width: 100%;
  margin: 0 auto;
  padding-left:2rem;
  padding-right:2rem;
}

.custom-container2
{
  width: 86rem;
}

.custom-container3
{
  width: 1230px;
}

.session-list p,.session-list strong 
{
  display: none;
}
