@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html
{
  font-size: 16px;
}

body
{
  height: 100vh;
  color: #636363;
}

img,div
{
  display: block;
}

h1,h2,h3,h4
{
  font-weight:bold;
}

.custom-container,
.custom-container2,
.custom-container3
{
  width: 120rem;
  max-width: 100%;
  margin: 0 auto;
  padding-left:2rem;
  padding-right:2rem;
}

.custom-container2
{
  width: 86rem;
}

.custom-container3
{
  width: 1230px;
}

.session-list p,.session-list strong 
{
  display: none;
}

.session-list ul li
{
  list-style: disc;
}

.kr-installment-number,.kr-first-installment-delay
{
  display: none;
}
.kr-payment-button
{
  margin: 3rem 0 0 0;
  width: 100% !important;
  color: #b2b9c2 !important;
  font-weight:bold !important;
  padding: .8rem 0;
  border-radius: .5rem;
  background-color: #e7e9ec !important;
}
.kr-spinner
{
  display: none;
}
.kr-bounce2::after
{
  content: "Procesando...";
}
.alertSwag
{
  background-color: #192677;
}
